{% import "@SoCore/component/menu.html.twig" as menu %}

<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
	<div class="sb-sidenav-menu">
		<div class="nav">
			{{ menu.heading('admin.navigation' | trans([], 'admin')) }}
			{%- block menu_main -%}
				{{ menu.item('page.so_core_admin_home.label' | trans([], 'admin'), path('so_core_admin_home'), 'fas fa-tachometer-alt') }}
				{{ menu.item('page.so_core_admin_user_list.label' | trans([], 'admin'), path('so_core_admin_user_list'), 'fas fa-users') }}
			{%- endblock -%}
			{# Current item with submenu #}
			{#
			{% embed "@SoCore/component/menu-item.html.twig" with {
				label: 'page.so_core_admin_home.label' | trans([], 'admin'), link: path('so_core_admin_home'), icon: 'fas fa-tachometer-alt'
			} %}
				{% block collapse %}
					{% import "@SoCore/component/menu.html.twig" as menu %}
					{{ menu.item('page.so_core_admin_home.label' | trans([], 'admin'), path('so_core_admin_home'), 'fas fa-tachometer-alt') }}
					{{ menu.item('page.so_core_admin_home.label' | trans([], 'admin'), path('so_core_admin_home'), 'fas fa-tachometer-alt') }}
					{{ menu.item('page.so_core_admin_home.label' | trans([], 'admin'), path('so_core_admin_home'), 'fas fa-tachometer-alt') }}
				{% endblock %}
			{% endembed %}
			#}
		</div>
	</div>
	
	<div class="sb-sidenav-footer menu-profile">
		<div class="menu-profile-image py-2">
			<img src="{{ app.user | smallImage }}" alt=""/>
		</div>
		<div class="menu-profile-info">
			{{ app.user }}
			<small>{{ userService.highestRole(app.user).1 | trans({gender: app.user.genderKey}) }}</small>
		</div>
	</div>

</nav>
