{# {% set currentLanguage = language.languageByLocale(app.request.locale) %} #}
<!DOCTYPE html>
{# <html lang="{{ currentLanguage.primaryCode }}"> #}
<html lang="{{ app.request.locale }}">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
	
	<link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
	
	<title>
		{%- block title -%}
			{%- if pageTitle is defined -%}
				{{ ( 'app.label' | trans ) ~ ' ~ ' ~ pageTitle }}
			{%- else -%}
				{{ 'app.label' | trans }}
			{%- endif -%}
		{%- endblock -%}
	</title>
	
	{% block stylesheets -%}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
			  integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous"
			  referrerpolicy="no-referrer"/>
		{{ encore_entry_link_tags('admin-dependencies') }}
		{{ encore_entry_link_tags('admin-app') }}
	{%- endblock %}
	
	<script type="text/javascript">
	onDomReady = callback => {
		document.addEventListener('DOMContentLoaded', callback);
	};
	</script>

</head>
{% block document_body -%}
	<body class="{%- block bodyClass -%}{{ bodyClass() }}{%- endblock -%}">
	
	{%- block documentContents %}{% endblock -%}
	
	{%- block javascripts %}
		{{ encore_entry_script_tags('admin-dependencies') }}
		
		{%- block js_app %}{% endblock -%}
		
		{{ encore_entry_script_tags('admin-app') }}
		
		<div id="ExternalLibraryWrapper"></div>
		
		{% include '@SoCore/admin/section/system-components.html.twig' %}
		
		<script type="text/javascript">
		onDomReady(() => {
			{% include '@SoCore/admin/embed/translation.js.twig' %}
			{% include '@SoCore/admin/embed/routing.js.twig' %}
		});
		</script>
	{% endblock -%}
	
	</body>
{% endblock %}
</html>
