{% extends '@SoCore/layout-authentication.html.twig' %}

{% block title %}
	{{ 'page.recover_password.title' | trans }}
{% endblock %}

{% block body %}
	<h4 class="text-success mb-4">{{ 'page.recover_password.success.title' | trans }}</h4>
	<p class="lead">{{ 'page.recover_password.success.legend' | trans }}</p>
	
	<div class="d-grid">
		<a class="btn btn-primary btn-block mt-4" href="{{ path('so_core_admin_login') }}">{{ 'action.login' | trans }}</a>
	</div>
{% endblock %}

{% block footer %}
	<div class="small">
		<a href="{{ path('home') }}">
			<i class="fas fa-arrow-left me-1"></i>
			{{- 'action.backHome' | trans -}}
		</a>
	</div>
{% endblock %}
