{% extends '@SoCore/layout-authentication.html.twig' %}

{% block title %}
	{{ 'page.recover_password.title' | trans }}
{% endblock %}

{% block body %}
	{{ form_start(form) }}
	<p class="lead">{{ 'page.recover_password.legend' | trans }}</p>
	
	{{ form_widget(form) }}
	
	<div class="d-grid">
		<button class="btn btn-primary btn-block mt-4" type="submit">{{ 'action.save' | trans }}</button>
	</div>
	{{ form_end(form) }}
{% endblock %}

{% block footer %}
	<div class="small">
		<a href="{{ path('home') }}">
			<i class="fas fa-arrow-left me-1"></i>
			{{- 'action.backHome' | trans -}}
		</a>
	</div>
{% endblock %}
