{% extends '@SoCore/layout-authentication.html.twig' %}
{# {% form_theme form 'bootstrap_5_layout.html.twig' %} #}

{% block layoutContents %}
	
	<div class="row justify-content-center">
		<div class="col-lg-5">
			{% for flash_error in app.flashes('verify_email_error') %}
				<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
			{% endfor %}
			
			<div class="card shadow-lg border-0 rounded-lg mt-5">
				<div class="card-header">
					<h3 class="text-center font-weight-light my-4">{{ 'page.admin_register.title' | trans([], 'admin') }}</h3>
				</div>
				<div class="card-body">
					{{ form_start(form) }}
					
					{{ form_widget(form) }}
					
					{#                    <div class="form-floating mb-3"> #}
					{#                        <input id="InputLoginEmail" name="email" type="email" class="form-control" required autocomplete="username" #}
					{#                               placeholder="{{ 'page.admin_login.email' | trans([], 'admin') }}" {{ login.email ? 'value="%s"'|format(login.email)|raw : '' }}/> #}
					{#                        <label for="InputLoginEmail">{{ 'page.admin_login.email' | trans([], 'admin') }}</label> #}
					{#                    </div> #}
					{#                    <div class="form-floating mb-3"> #}
					{#                        <input id="InputLoginPassword" name="adminPassword" type="password" class="form-control" autocomplete="current-password" required #}
					{#                               placeholder="{{ 'page.admin_login.password' | trans([], 'admin') }}"/> #}
					{#                        <label for="InputLoginPassword">{{ 'page.admin_login.password' | trans([], 'admin') }}</label> #}
					{#                    </div> #}
					
					<div class="mt-4 mb-0 d-grid">
						<button class="btn btn-primary btn-block" name="submitSave" type="submit">{{ 'action.register' | trans }}</button>
						{#                        <div class=""> #}
						{#                        </div> #}
					</div>
					{{ form_end(form) }}
					{# SB Admin
					<form>
					<div class="row mb-3">
						<div class="col-md-6">
							<div class="form-floating mb-3 mb-md-0">
								<input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name">
								<label for="inputFirstName">First name</label>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-floating">
								<input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name">
								<label for="inputLastName">Last name</label>
							</div>
						</div>
					</div>
					<div class="form-floating mb-3">
						<input class="form-control" id="inputEmail" type="email" placeholder="name@example.com">
						<label for="inputEmail">Email address</label>
					</div>
					<div class="row mb-3">
						<div class="col-md-6">
							<div class="form-floating mb-3 mb-md-0">
								<input class="form-control" id="inputPassword" type="password" placeholder="Create a password">
								<label for="inputPassword">Password</label>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-floating mb-3 mb-md-0">
								<input class="form-control" id="inputPasswordConfirm" type="password" placeholder="Confirm password">
								<label for="inputPasswordConfirm">Confirm Password</label>
							</div>
						</div>
					</div>
					</form>
					#}
				</div>
				<div class="card-footer text-center py-3">
					<div class="small"><a href="{{ path('admin_login') }}">{{ 'page.admin_register.loginAction' | trans([], 'admin') }}</a></div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
